/*body * {
	border: 1px solid black;
}*/

/*#mapcontainer {
	width: 800px;
	height: 591px;
	position: relative;
}*/
#mapcontainer {
	width: 800px;
	height: 800px;
}
#map {
	position: relative;
	width: 100%;
	height: 100%;

}
#marker {
	position: absolute;
	left: 388px; /* width/2 - marker width/2 */
	top: 333px; /* height/2 + marker height  + 24?*/
	z-index: 1;
	display: none;
}

#marker:hover {
	-webkit-filter: invert(100%);
}