body * {
	font-family: Tahoma;
	color: #9f7435;
}
body {
	background-color: #23546a;
}

/*#mapcontainer {
	width: 800px;
	height: 591px;
	position: relative;
}*/
header {
	height: 80px;
	background-color: #FAFF91;
	position: relative;
	min-width: 900px;
	
	margin-bottom: 10px;
	border: 2px solid #9f7435;
	border-radius: 5px;
}
h1 {
	font-family: Tahoma;
	text-align: center;
	padding: 15px;
}
button {
	margin: 0 auto;
	padding: 5px 10px;
	font-size: 1.5em;
	display: none;
}
#bodycontainer {
	position:relative;
	width: 100%;
}
#appcontainer {
	width: 885px;
	margin: 1px auto;
	background-color: #9f7435;
	border: 5px solid #9f7435;
	border-radius: 5px;
}
#mapcontainer {
	width: 550px;
	height: 550px;
	position: relative;
	display: inline-block;
	vertical-align: text-top;
}
#map {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 5px;

}
#marker {
	position: absolute;

	z-index: 1;
	display: none;
	-webkit-filter: invert(100%);
}

#marker:hover {
	-webkit-filter: drop-shadow(1px 1px 1px white);

	z-index: 2;
}

#closerlook {
	position: relative;
	vertical-align: text-top;
	display: inline-block;
	background-color: #FAFF91;
	height: 550px;
	width: 330px;
	border-radius: 5px;

}
h3 {
	text-align: center;
}
#current_pic {
	height: 306px;
	width: 306px;
	border-radius: 5px;
	margin: auto;
	background: radial-gradient(white, black);
	
}
#caption {
	padding: 20px;
	font-size: 0.7em;
	
	text-align: center;
}

#caption p {
	color: #FAFF91;

}
#caption p:hover {
	color: #9f7435;
}
 h5 {
 	font-weight: normal;
 }
 .star {
 	/*border: 2px solid black;*/
 	border-radius: 100%;
 }